/* add css module styles here (optional) */
* {
  box-sizing: border-box;
}

.menuitemH {
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  color:white;
  font-weight:bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border: 1px solid lightgray;
  border-radius: 5px;
  background-color:slategray;
  /*position: relative;*/
}

.searchBarH {
height: 40px;
margin-top: 15px;
}

.menuitemHRTL {
  height: 40px;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  color:white;
  font-weight:bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border: 1px solid lightgray;
  border-radius: 5px;
  background-color:slategray;
  /*position: relative;*/
}

.menuitemH li 
 {
  display: inline-block;
 /* position: relative;*/
  padding: 10px 20px 20px 20px;
  }

  .menuitemHRTL li 
 {
  display: inline-block;
 /* position: relative;*/
  padding: 10px 20px 20px 20px;
  }

  .navBarV {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .menuitemV {
    height: 100vh;
    width: fit-content;
    margin: 0px 100px 20px 20px;
    display: flex;
    float:left;
    flex-direction: column;
    align-items: center;
    color:white;
    font-weight:bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border: 1px solid lightgray;
  border-radius: 5px;
  background-color:black;
  padding: 20px 20px 20px 20px;
  list-style: outside none none;
  }

  .searchBarVInput {
   width:20px;
   height:10px;
  }

  .searchBarV {
    width: 20px;
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .buttonV {
  color:red;
  height:30px;
  display:flex;
  justify-content: center;
  align-items: center;

  }

  .menuitemV li {
    display: inline-block;
    position:relative;
    padding: 10px 0px 20px 0px;
    }

  .menuitemVRTL {
    height: 500px;
    width: 20%;
    margin: 50px 50px 50px 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color:white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 2px 20px 20px 20px;
    background-color: lightgrey;
    float: right;
  }

  ul li:hover {
      background-color: grey;
  }

  .menuitemNestedV {
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    color: black;
    border-radius: 1px;
    padding: 10px 0px 10px 0px;
    margin-top: 10px;
    background-color:lightgray;
    
  }

  .menuitemNestedVRTL {
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: left;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px 0px 10px 0px;
    background-color: yellow;
  }

  

  .menuitemVRTL li {
    display: inline-block;
    padding: 10px 0px 20px 0px;
    }

    .menuitemNestedH {
      height: fit-content;
      width: fit-content;
      display: flex;
      flex-direction: row;
      align-self: flex-start;
      color: black;
      border-radius: 1px;
      padding: 10px 20px 10px 0px;
      margin-top: 10px;
      margin-left: 34px;
      background-color: lightgray;
      left:100%;
      top:0;
      z-index: 9999;
      transition: all 0.5s ease 0s;
    }

.menuitemNestedH li {  
  display:inline-block;
}
  

.dropdownContent {
  display:none;
  position: absolute;
  color: red;
  background-color: lightgray;
}

.dropdown-content ul li:hover {
  background-color: lightgray;
}