/* add css module styles here (optional) */
* {
  box-sizing: border-box;
}
.test {
  margin: 2em;
  padding: 0.5em;
  border: 2px solid #000;
  font-size: 2em;
  text-align: center;
}

.navigationH {
  display: flex;
  width: 90%;
  height: 100px;
  margin: 50px 0px 0px 50px;
  
}

.menuitemH {
  height: 40px;
  width: 90%;
  margin: 50px 50px 50px 50px;
  display: flex;
  justify-content: space-around;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
  padding: 2px 20px 20px 20px;
  background-color: lightcoral;
}

.menuitemH li {
  display: inline-block;
  padding: 10px 20px 20px 20px;
  }

  .navigationV {
    width: 20%;
    height: 80%;
  
  }
  
  .menuitemV {
    height: 500px;
    width: 20%;
    margin: 50px 50px 50px 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    padding: 2px 20px 20px 20px;
    background-color: lightgrey;
  }

  .menuitemV li {
    display: inline-block;
    padding: 10px 20px 20px 20px;
    }



